.navbar-kids {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vh 7dvw;
    background-color: #30BCED;
    width: 100%;
    height: 100px;
    position: static;
}
.navbar-kids-search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F5F5F5;
    height: 4vh;
    width: 300px;
    padding: 20px 10px;
    border-radius: 5px;
}
.navbar-kids-search input {
    border: none;
    outline: none;
    color: #787486;
    font-weight: 400;
    background-color: transparent;
}
.navbar-kids-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    gap: 5rem;
}
.navbar-kids-right-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.navbar-kids-right-icons img {
    width: 25px;
    cursor: pointer;
}
.navbar-kids-right-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.profile-info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: end;
}
.profile-info h4 {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}
.profile-info p {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}
.profile img {
    cursor: pointer;
    width: 45px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover;
}
.logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.logout-button:hover {
    background-color: #d32f2f;
    margin-right: 10px;

}
