.dashboard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px 10px 50px 20px;
}

/* src/components/DashboardHeader.css */

.dashboard-header {

  top: 0%;
  
}

.title-dashboard {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 38.4px;
  color: #464255;
  margin: 0;
}

.welcome-message {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  color: #a3a3a3;
  margin-bottom: 20px;
}

.calendar-filter-button {
  position: absolute;
  right: 20px;
  float: right;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* src/components/AddWidgetButton.css */

.add-widget-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28a745;
  border-radius: 20px;
  width: 152px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px 0px 0px 140px;
}

.add-widget-button:hover {
  background-color: #218838;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.25px;
  text-align: center;
  padding-top: 20px;
  color: #ffffff;
  margin-right: 20px;

}


.dashboard-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.userCard {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 80%;
}

.div_space {
  width: 100%;
  height: 50px;;
}