@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.group-list-title{
    font-size: 30px;
    font-family: "Poppins";
    font-weight: bold;
}
.group-list-panel{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1.5rem 20px;
}
.add-group-btn{
    width: 350px;
    height: 120px;
    border-radius: 1rem;
    border: 1px solid black;
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    cursor: pointer;
}

.student-list{ 
    padding:  0;
}
.student-list-item{
    display: flex;
}
.student-list-item label{  
    font-size: 18px;
    font-family: "Poppins";
}
.name{
    width: 20%;
    display: flex;
    align-items: center;
}
.name img{
    width: 40px;
    height: 40px;
    border-radius: 0.75rem;
    background-color: #d1d1d1;
}
.name label{
    margin-left: 0.5rem;
}
.email{  
    width: 27%;
    align-content: center;
}
.number{ 
    width: 20%;
    align-content: center;
}
.status{ 
    width: 13%;
    align-content: center;
}
.status label{
    width: fit-content;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    color: white;
}
.action{ 
    width: 20%;
}
.action-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    cursor: pointer
}
.action label{ 
    font-size: 16px;
    font-weight: bold;
    margin-left: 1.5rem;
    cursor: pointer
}
.action img{ 
    width: 20px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.column-title{
    color: #A0AEC0;
}
.student-list-seperator{
    height: 2px;
    width: 100%;
    background-color: #E2E8F0;
    margin: 0.75rem 0;
}
.add-group {
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.201);
}
.add-group .group-image-border{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    background-color: rgba(186, 186, 186, 0.603);
    padding: 15px ;
}
.add-group .group-name {
    font-size: 18px;
    font-weight: bold;
    color: rgb(147, 147, 147);
}