.user-profile-wrapper {
    display: flex;
    flex-direction: row;
    padding: 4rem 0;
    gap: 5vh;
    background-color: white;
}
.user-profile-image-container {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    /*align-items: center;*/
}
.user-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
}
.user-image img {
    margin: 1rem 3rem;
    border-radius: 50%;
    border: 3px solid black;
    height: 170px;
}
.user-image span{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
}
.account-info {
    display: flex;
    flex-direction: column;
}
.account-info span{
    height: 50px;
    width: 250px;
    align-content: center;
    font-family: 'Poppins';
    font-size: 18px;
    padding-left: 3rem;
    border-radius: 0px 25px 25px 0px;
}
.account-info .active {
    color: #000000;
    font-weight: bold;
    background-color: #cfcfcf;
}
.userProfile-info , .mot-de-passe-info ,.child-section{
    display: flex;
    flex-direction: column;
    gap: 5vh;
   
}
.userProfile-info hr ,.create-user-profile hr {
    outline: none;
    border: 1px solid #D7D7D7;
    margin-top: 20px;
}
.userProfile-info form , .mot-de-passe-info form ,.create-user-profile form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.userProfile-info h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #333333;
}
.userProfile-info h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333333;
    padding: 10px 0;
}
.userProfile-info form label {
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    color: #333333;
}
.cell {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10%;
}
.child-header {
    font-size: 17px;
    font-weight: 500;
    color: #2E294E;
}
.submit-btn {
    background-color: #F92A82;
    border-radius: 10px;
    padding: 2vh 4vw;
    color: white;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    margin-top: 5vh;
}
.input-box {
    display: flex;
    flex-direction: column;
    margin:2vh 0;
    
}
.input-box input ,.input-box select {
    outline: none;
    border: 1px solid #D7D7D7;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
}

.input-box textarea {
    outline: none;
    border: 1px solid #D7D7D7;
    border-radius: 10px;
    padding: 10px 20px;
    resize: none;
}
.input-box p {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
}
.acount-info h3 {
    font-size: 20px;
    margin:10px 0;
    padding: 15px 15px;
    border-radius: 10px;
    text-align: center;
    
}