.sideBar{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2E2A4F;
}
.seperator{
    width: 230px;
    height: 1px;
    margin-bottom: 2rem ;
    background-color: #7c7c7c;
}
.sideBar-buttons{
    width: 300px;
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    align-items: center;
}
.sideBar-buttons a{
    text-decoration: none;
}
.sideBar-btn{
    height: 40px;
    width: 230px;
    background-color: transparent;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.sideBar-btn.selected{
    background-color: white;
}
.sideBar-btn .sideBar-btn-icon{
    width: 24px;
    height: 24px;
    margin-left: 0;
    transition: 0.25s;
}
.sideBar-btn.selected .sideBar-btn-icon{
    margin-left: 0.75rem;
}
.sideBar-btn label{
    margin-left: 1rem;
    font-size: 14px;
    font-family: "Inter";
    font-weight:500;
    color: white;
    cursor: pointer
}
.sideBar-btn.selected label{
    color: #2E294E;
}
.sideBar-btn-arrow-icon{
    padding-left: 1rem;
}
.sideBar-subBtn-group{
    display: none;
    flex-direction: column;
    gap: 0.25rem;
}
.sideBar-subBtn-group.shown{
    display: flex;
}
.sideBar-subBtn-group div{
    padding-left: 6.4rem;
    height: 40px;
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.sideBar-subBtn-label{
    font-size: 14px;
    font-family: "Inter";
    color: white;
    cursor: pointer;
}
.sideBar-subBtn-label.selected{
    color: #FFD13A;
}