
.group-card{
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}
.group-info{
    display:flex;
    flex-direction: column; 
    gap: 15px;
}
.group-name{
    font-size: 18px;

    font-weight: bold;
    color: White;
}
.group-age{
    font-size: 16px;
    font-weight: bold;
    color: #2E2A4F;

}
.group-image-border{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    background-color: white;
    padding: 15px ;
}
.group-card-icon{
    height: 35px;
    width: 35px;
}
.collapsed{
    display:none;
}