.quick-edit-input-group{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.quick-edit-info-label{
    font-family: "Poppins";
    font-size: 18px;
}
.quick-edit-info-wrapper {
    display: flex;
    flex-direction: column;
}
.quick-edit-info-input {
    width: 350px;
    height: 45px;
    border-radius: 0.5rem;
    border: 1px solid #D7D7D7;
    outline: none;
    padding-left: 1.5rem;
    font-family: "Poppins";
    font-size: 18px;
    box-sizing: border-box;
}
.quick-edit-info-input.full{
    width: 100%;
}
.quick-edit-info-input:hover{
    border: 1px solid #b9b9b9;
}
.quick-edit-info-input:focus{
    border: 1px solid #949494;
}
.quick-edit-info-wrapper textarea{
    width: 860px;
    height: 150px;
    padding: 0.5rem 1.5rem;
}
.quick-edit-info-wrapper .css-b62m3t-container{
    width: 350px;
}
.quick-edit-save-btn{
    position: absolute;
    width: 180px;
    height: 50px;
    bottom: 2rem;
    right: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #30BCED;
    color: white;
    font-size: 18px;
    font-family: "Poppins";
    cursor: pointer;
}