.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }
.sideBar{
    --sidebar-width: 270px;
    --side-btn-width: 220px;
    --side-btn-height: 40px;
    --side-item-gap: 0.25rem;
    min-width: var(--sidebar-width);
    width: var(--sidebar-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 25px 0 25px;
    overflow: hidden;
    background-color: #2E2A4F;
    font-size: 14px;
    font-family: "Inter";
    user-select: none;
    z-index: 1000;
    transition: width 0.25s, min-width 0.25s;
}
.sideBar-logo{
    /*width: 190px;*/
    height: 60px;
    margin: 20px 0 20px 0;
}
.sideBar hr {
    border: none;
    width: var(--side-btn-width);
    height: 1px;
    margin-bottom: 2rem ;
    background-color: #7c7c7c;
}
.sideBar-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--side-item-gap);
}
.sideBar-btn{
    position: relative;
    height: var(--side-btn-height);
    width: var(--side-btn-width);
    background-color: transparent;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: background-color 0s, padding-left 0.25s;
}
.sideBar-btn:hover{
    background-color: #443f72;
    transition: background-color 0.25s, padding-left 0.25s;
    padding-left: 0.75rem;
    /*transition-delay: 0.12s;*/
}
.sideBar-btn.active {
    background-color: white;
    transition: background-color 0.25s, padding-left 0.25s;
    padding-left: 0.75rem;
    /*transition-delay: 0.12s;*/
}
.sideBar-btn-icon{
    width: 22px;
    height: 22px;
    margin-left: 0;
}
.sideBar-btn label{
    margin-left: 1rem;
    font-size: 14px;
    font-family: "Poppins";
    font-weight:500;
    color: white;
    cursor: pointer;
}
.sideBar-btn.active label{
    color: #2E294E;
}
.sideBar-btn div {
    fill: white;
    stroke: white;
}
.sideBar-btn.active div {
    fill: #2E294E;
    stroke: #2E294E;
}
.sideBar-btn-group{
    height: 40px;
    overflow: hidden;
    transition: 0.5s;
}
.sideBar-btn-group.open{
    height: 172px;
}
.sideBar-btn-arrow-icon{
    position: absolute;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    top: 50%;
    translate: 0 -50%;
    rotate: -90deg;
    right: 10px;
}
.sideBar-btn-group.open .sideBar-btn-arrow-icon{
    rotate: 0deg;
}
.sideBar-subBtn-group{
    display: flex;
    flex-direction: column;
    gap: var(--side-item-gap);
}
.sideBar-subBtn{
    margin-left: 44px;
}
.sideBar-subBtn:first-of-type {
    margin-top: var(--side-item-gap);
}

.sideBar-subBtn div{
    height: 40px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sideBar-subBtn label{
    padding-left: 8px;
    font-size: 14px;
    font-family: "Poppins";
    color: white;
    cursor: pointer;
}
.sideBar-subBtn.active label{
    color: #FFD13A;
}

@media (max-width:1100px) {
    .sideBar:hover + .overlay {
        display: block;
    }
    .sideBar{
        position: absolute;
        width: 72px;
        min-width: 72px;
        display: flex;
        flex-direction: column;
        padding: 0 1rem 0 1rem;
        align-items: start;
        transition: 0s;
    }
    .sideBar:hover{
        width: var(--sidebar-width);
        min-width: var(--sidebar-width);
        padding: 0 25px 0 25px;
        transition: width 0.25s, min-width 0.25s;
    }
    .sideBar-btn {
        width: var(--side-btn-height);
        justify-content: center;
    }
    .sideBar:hover .sideBar-btn {
        width: var(--side-btn-width);
        justify-content: start;
    }
    .sideBar-btn:hover, .sideBar-btn.active{
        padding-left: 0;
    }
    .sideBar:hover .sideBar-btn:hover ,.sideBar:hover .sideBar-btn.active{
        padding-left: 0.75rem;
    }
    .sideBar:hover .sideBar-subBtn{
        margin-left: 44px;
    }
    
    .sideBar-btn-group{
        height: 40px;
    }
    .sideBar-btn-group.open{
        height: 40px;
    }
    .sideBar:hover .sideBar-btn-group.open{
        height: 172px;
    }
    .sideBar:hover .sideBar-subBtn-group{
        display: flex;
    }
    .sideBar-logo, .sideBar hr{
        width: 0;
    }
    .sideBar:hover .sideBar-logo{
        width: fit-content;
    }
    .sideBar:hover hr{
        width: var(--side-btn-width);
    }
    .sideBar-btn label ,.sideBar-btn-arrow-icon, .sideBar-subBtn-group{
        display: none;
    }
    .sideBar:hover .sideBar-btn label, .sideBar:hover .sideBar-btn-arrow-icon{
        display: block;
    }
}