.cadre {
    width: 90%;
    margin: 80px 40px 50px 60px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgb(199, 207, 214);
    border-radius: 10px;
}
.cadre .listUser {
    color: black;
    margin-left: 150px;
}
.cadre .listUser .list {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
}
cadre .listUser .users{
    font: bold, 14px;
}

.createUser{
    padding: 20px 150px;
}
.newUser {
    font: medium 32px;
    letter-spacing: 0cm;
    line-height: auto;
    margin-left: 150px;
    padding-top: 20px;
}
.separator{
    border: grey solid 1px;
    margin: 30px 5px 30px 5px;
}