.add-group-wrapper{
    gap: 6px;
}
.group-info-input-group{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.group-info-wrapper{
    display: flex;
    flex-direction: column;
}
.view-wrapper *{
    font-family: "Poppins";
}
.page_title{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.group-info-wrapper * {
    font-size: 18px;
}
.group-info-input {
    border-radius: 0.5rem;
    border: 1px solid #D7D7D7;
}
.group-info-input{
    width: 350px;
    height: 45px;
    outline: none;
    padding-left: 1.5rem;
    box-sizing: border-box;
}
.group-info-input:hover{
    border: 1px solid #b9b9b9;
}
.group-info-input:focus{
    border: 1px solid #949494;
}
.group-info-wrapper .css-b62m3t-container{
    width: 350px;
}
.group-info-wrapper textarea{
    width: 860px;
    height: 150px;
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Poppins";
}
.save-group-btn{
    width: 180px;
    height: 50px;
    margin-top: 3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #30BCED;
    color: white;
    font-size: 18px;
    font-family: "Poppins";
    cursor: pointer;
}